<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
        <div class="row">
            daud
        </div>
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/materialize.min.js')
    </body>
</html>